.header {
  padding: 3rem 6rem;
  min-height: calc(100vh - 12rem);
  color: var(--primary-color);
  background: #fbf9f9;

  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.header div {
  flex: 0 0 auto;
  width: 50%;
}

.header div:nth-of-type(1) {
  align-self: center;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.header div:nth-of-type(2) {
  height: 70rem;
  border-radius: 3rem;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.header span {
  display: block;
  text-transform: uppercase;
}

.header span:nth-of-type(1) {
  font-size: 6rem;
  color: var(--primary-color-1);
}

.header span:nth-of-type(2) {
  font-size: 3.6rem;
}

.header p {
  font-size: 1.63rem;
  letter-spacing: 1px;
}

.header button {
  color: #fff;
  margin-top: 2rem;
  font-size: 1.8rem;
  border-radius: 5rem;
  padding: 2rem 8rem;
  background: var(--primary-color-1);
}

.header img {
  border-radius: 3rem;
  display: block;
  height: 93rem;
  width: 100%;
}

@media only screen and (max-width: 37.5em) {
  .header {
    flex-direction: column;
    padding: 2rem;
  }

  .header div {
    width: 100%;
  }

  .header div:nth-of-type(2) {
    order: -1;
    height: 40rem;
  }

  .header img {
    transform: translateY(-5rem);
  }

  .header span:nth-of-type(1) {
    font-size: 3.5rem;
  }

  .header span:nth-of-type(2) {
    font-size: 2.4rem;
  }

  .header img {
    object-fit: cover;
  }
}
