@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #03207e;
  --primary-color-1: #031779;
  --neutral-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

button {
  outline: 0;
  border: 0;
  background: none;
}

button:hover {
  transform: scale(1.02);
  transition: all 1s;
  cursor: pointer;
  background-color: var(--primary-color);
}
